/* CSS file */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    background: lightgray;
    font-family: "Roboto Slab", serif;
    text-align: center;
}

h1 {
    color: darkgrey;
    font-size: 300%;
    font-weight: bold;
    margin: 90px;
    padding: 10px;
    display: inline-block;
    letter-spacing: 0.05em;
    border: 1px solid black;
}

header li {
    display: inline-block;
}

header a {
    color: white;
    background: darkgray;
    border: 1px solid black;
    padding: 12px;
    margin: 2px;
    display: inline-block;
    font-family: "Roboto Slab", serif;
}

.img {
    width: 100%;
    /*    height: 500px;*/
    /*    margin: 40px auto;*/
}

.img img {
    width: 100%;
}

a: {
    color: darkblue;
}

a:hover {
    color: whitesmoke;
}

a:active {
    color: lawngreen;
}

main section h2 {
    text-align: center;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    color: white;
    font-size: 150%;
    padding-bottom: 10px;
}

main section {
    border: 1px solid black;
    background-color: darkgray;
    width: 40em;
    margin: 20px auto;
    padding: 10px;
    font-family: "Roboto Slab", serif;
    color: white;
    letter-spacing: 0.05em;
    line-height: 1.3em;
}

footer {
    font-size: 30px;
    text-align: center;
}
